reading the wmo website file

In [9]:
import pandas as pd
import pickle

In [8]:
import os

print(os.getcwd())

/Users/hicranarnold/Documents/githubRepos/heatwaves/heatwave-warning-system/src/data_processing

first we save WMO file and then we compare the country list with the data extracted from WMO

In [5]:
wmo_template = pd.read_csv('../../data/raw/WMOTemplate.csv')
wmo_template.head()

,Country Name,Heatwaves Warning Systems (WMO data),Heatwaves Warning Systems other sources,Link (if other sources are used)
0,Afghanistan,NaN,NaN,NaN
1,Albania,NaN,NaN,NaN
2,Algeria,NaN,NaN,NaN
3,Andorra,NaN,NaN,NaN
4,Angola,NaN,NaN,NaN

In [6]:
len(wmo_template)

193

In [11]:
data_extracted = pickle.load(open('../../data/raw/data_extracted.pkl', 'rb'))
data_extracted.head()

,Country,Warnings,date,isHeatWave,isHeatWaveCat
0,Afghanistan,[0],09/27/2023,0,Unknown
1,Albania,[0],09/27/2023,0,Unknown
2,Algeria,"['Dust storm/Sandstorm', 'Fog', 'Freezing rain...",09/27/2023,1,Yes
3,Andorra,[0],09/27/2023,0,Unknown
4,Angola,"['Drought/Dry spell', 'Flood', 'Fog', 'Lightni...",09/29/2023,0,No

In [28]:
newdf= set(data_extracted['Country'].tolist())

we see that there are no dublicates

In [30]:
len(newdf)

198

merging to see the difference

In [31]:
merged_df = pd.merge(wmo_template, data_extracted, how='outer', left_on='Country Name', right_on='Country', suffixes=('_wmo', '_extracted'))

In [36]:
mask = merged_df['Country Name'] != merged_df['Country']
differences = merged_df[mask][['Country Name', 'Country']]
differences

,Country Name,Country
47,Czech Republic,NaN
66,Gambia,NaN
73,Guinea Bissau,NaN
95,Lao People’s Democratic Republic,NaN
100,Libya,NaN
144,Turkey,NaN
162,South ‎Sudan,NaN
188,Venezuela (Bolivarian Republic of),NaN
189,Vietnam,NaN
193,NaN,British Caribbean Territories - Anguilla
194,NaN,British Caribbean Territories - British Virgin...
195,NaN,British Caribbean Territories - Cayman Islands
196,NaN,British Caribbean Territories - Montserrat
197,NaN,British Caribbean Territories - Turks and Caic...
198,NaN,Czechia
199,NaN,Gambia (The)
200,NaN,Guinea-Bissau
201,NaN,Lao People's Democratic Republic
202,NaN,Libya (State of)
203,NaN,South Sudan
204,NaN,Türkiye
205,NaN,"Venezuela, Bolivarian Republic of"
206,NaN,Viet Nam

* adjustment 1  : Venezuela (Bolivarian Republic of) listed in wmo template / list and in the WNO website as Venezuela, Bolivarian Republic 

we will adjust our data with Venezuela (Bolivarian Republic of) so it matches to the template

* adjustment 2 : Vietnam listed in wmo template correctly / listes as Viet Nam incorrectly 

we will adjust the name  as Vietnam 

* Adjustment 3 : South Sudan could not see any difference but it seems that wmo has a "South ‎Sudan" special chracther in between. so we will keep
the no special chracther 

* Adjustment 4: Turkiye listes as correctly in WMO website but WMO template is not updates as country's changed name. 

we will adjust it for now so it matches to the template that has been provided 

* adjustment 5 : Libya listed correlty in the wmo template but listed incorrectly in the website as Libya (State of)

we will adjust the name as Libya 

* adjustment 6 : Lao People's Democratic Republic i do not see any difference but pecial chracther in between. 

so we will keep the no special chracther 

* adjustment 7 : Guinea-Bissau listes this way and Guinea Bissau in the template 

we will change it to Guinea Bissau to match to the template 

* adjustment 8 : Gambia listed correclty in the template but in the website it is listed as Gambia (The) 

we will adjust the name as Gambia

* adjustemnt 9 : Czechia and Czech Republic(oficial name) they both are corect 

we will Czech Republic to match to the template

* adjustment 10 : British Caribbean Territories listed a single country in the WMO template 

but in the website it is 
- British Caribbean Territories  
- British Caribbean Territories - Anguilla
- British Caribbean Territories - British Virgin Islands
- British Caribbean Territories - Cayman Islands
- British Caribbean Territories - Montserrat
- British Caribbean Territories - Turks and Caicos Islands

In [ ]:
# Adjustment 1
data_extracted.loc[data_extracted['Country'] == 'Venezuela, Bolivarian Republic', 'Country'] = 'Venezuela (Bolivarian Republic of)'

# Adjustment 2
data_extracted.loc[data_extracted['Country'] == 'Viet Nam', 'Country'] = 'Vietnam'

# Adjustment 3
data_extracted.loc[data_extracted['Country'] == 'South Sudan', 'Country'] = 'South Sudan'.strip()

# Adjustment 4
data_extracted.loc[data_extracted['Country'] == 'Turkiye', 'Country'] = 'Turkey'

# Adjustment 5
data_extracted.loc[data_extracted['Country'] == 'Libya (State of)', 'Country'] = 'Libya'

# Adjustment 6
data_extracted.loc[data_extracted['Country'] == "Lao People's Democratic Republic", 'Country'] = "Lao People's Democratic Republic".strip()

# Adjustment 7
data_extracted.loc[data_extracted['Country'] == 'Guinea-Bissau', 'Country'] = 'Guinea-Bissau'.strip()

# Adjustment 8
data_extracted.loc[data_extracted['Country'] == 'Gambia (The)', 'Country'] = 'Gambia'

# Adjustment 9
data_extracted.loc[data_extracted['Country'] == 'Czechia', 'Country'] = 'Czech Republic'

In [53]:
# # Adjustment 1
# data_extracted['Country'] = data_extracted['Country'].replace('Venezuela, Bolivarian Republic of', 'Venezuela (Bolivarian Republic of)')

# # Adjustment 2
# data_extracted['Country'] = data_extracted['Country'].replace('Viet Nam', 'Vietnam')

# Adjustments 3, 6, and 7: Removing special characters or extra spaces
# This will apply to all rows, but it's okay since we're just ensuring cleanliness
data_extracted.loc[data_extracted['Country'] == 'South Sudan', 'Country'] = 'South Sudan'.strip()

# # Adjustment 4
# # Assuming the template has "Turkey" for "Turkiye"
# data_extracted['Country'] = data_extracted['Country'].replace('Türkiye', 'Turkey')

# # Adjustment 5
# data_extracted['Country'] = data_extracted['Country'].replace('Libya (State of)', 'Libya')

# # The dataframe should now be adjusted as per your requirements# Adjustment 6: Removing special characters or extra spaces
# data_extracted.loc[data_extracted['Country'] == "Lao People's Democratic Republic", 'Country'] = "Lao People's Democratic Republic"


# # # Adjustment 7: Removing special characters or extra spaces
# data_extracted.loc[data_extracted['Country'] == 'Guinea-Bissau', 'Country'] = 'Guinea Bissau'

# # Adjustment 8: Change "Gambia (The)" to "Gambia"
# data_extracted.loc[data_extracted['Country'] == 'Gambia (The)', 'Country'] = 'Gambia'

# # Adjustment 9: Change "Czechia" to "Czech Republic"
# data_extracted.loc[data_extracted['Country'] == 'Czechia', 'Country'] = 'Czech Republic'

In [71]:
data_extracted.loc[data_extracted['Country'] =="Lao People’s Democratic Republic", 'Country'] = "Lao People's Democratic Republic"

In [69]:
data_extracted.loc[data_extracted['Country'] =="South ‎Sudan", 'Country'] = "South Sudan"

In [72]:
merged_df2 = pd.merge(wmo_template, data_extracted, how='outer', left_on='Country Name', right_on='Country', suffixes=('_wmo', '_extracted'))
mask = merged_df2['Country Name'] != merged_df2['Country']
differences2 = merged_df2[mask][['Country Name', 'Country']]
differences2

,Country Name,Country
95,Lao People’s Democratic Republic,NaN
162,South ‎Sudan,NaN
193,NaN,British Caribbean Territories - Anguilla
194,NaN,British Caribbean Territories - British Virgin...
195,NaN,British Caribbean Territories - Cayman Islands
196,NaN,British Caribbean Territories - Montserrat
197,NaN,British Caribbean Territories - Turks and Caic...
198,NaN,Lao People's Democratic Republic
199,NaN,South Sudan

In [81]:
# List of values to drop
values_to_drop = [
    "British Caribbean Territories - Anguilla",
    "British Caribbean Territories - British Virgin Islands",
    "British Caribbean Territories - Cayman Islands",
    "British Caribbean Territories - Montserrat",
    "British Caribbean Territories - Turks and Caicos Islands"
]

# Filter the DataFrame to keep only rows where the 'Country' column doesn't have any of the values in the list
data_extracted = data_extracted[~data_extracted['Country'].isin(values_to_drop)]

In [82]:
len(data_extracted)

193

In [79]:
mask = data_extracted["Warnings"] == "[0]"
data_extracted.loc[mask, "isHeatWave"] = 2
data_extracted

,Country,Warnings,date,isHeatWave,isHeatWaveCat
0,Afghanistan,[0],09/27/2023,2,Unknown
1,Albania,[0],09/27/2023,2,Unknown
2,Algeria,"['Dust storm/Sandstorm', 'Fog', 'Freezing rain...",09/27/2023,1,Yes
3,Andorra,[0],09/27/2023,2,Unknown
4,Angola,"['Drought/Dry spell', 'Flood', 'Fog', 'Lightni...",09/29/2023,0,No
...,...,...,...,...,...
217,Venezuela (Bolivarian Republic of),[0],09/29/2023,2,Unknown
218,Vietnam,"['Cold wave', 'Drought/Dry spell', 'Dust storm...",09/29/2023,1,Yes
219,Yemen,[0],09/29/2023,2,Unknown
220,Zambia,[0],09/26/2023,2,Unknown
221,Zimbabwe,"['Cold wave', 'Drought/Dry spell', 'Flood', 'F...",09/29/2023,1,Yes

In [80]:
df_clean = data_extracted[['Country', 'isHeatWaveCat']]

df_clean.head()

       Country isHeatWaveCat
0  Afghanistan       Unknown
1      Albania       Unknown
2      Algeria           Yes
3      Andorra       Unknown
4       Angola            No

In [83]:
df_clean.rename(columns={'Country': 'Country Name', 'isHeatWaveCat': 'Heatwaves Warning Systems (WMO data)'}, inplace=True)

/var/folders/gz/5hn5tw3515vbb9c8b5c8c9dm0000gn/T/ipykernel_27168/585017082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.rename(columns={'Country': 'Country Name', 'isHeatWaveCat': 'Heatwaves Warning Systems (WMO data)'}, inplace=True)

In [84]:
df_clean.to_csv('../../data/intermediate/wmoWebDataClean.csv', index=False)

In [85]:
data_extracted.to_csv('../../data/intermediate/WebDataClean_IncludesWarningList.csv', index=False)